body{
    font-family: ariel, sans-serif;
    background-color: rgb(247, 204, 213);
    color: antiquewhite;
}
h1{
    color: aqua;
}
a{
    color: rgb(162, 214, 214);
}
a:hover{
    color: beige;
}
ul > li{
      font-weight: bold;
}
hl + p{
    background-color: rgb(247, 193, 193);
    padding: 10px;
    border-radius: 5px;
}
ul li:hover{
    color: floralwhite;
}
ul li:nth-child(3) {
     background-color: bisque;
}
p:not(:first-of-type) {
    text-decoration:underline;
}
ul li::before{
    content:"**";
}
a::after{
    content:"**";
}
p::first-letter{
    font-size: 200%;
    color: aquamarine;
}